@import (once) "../theme";

/*
&>.row.admin-menu>.cell {
    margin-top: 40px;
    color: #f0d79e;
    border: 1px solid #773939;
    outline: 3px solid #5c2b20;
    background: none;
    background-color: #5c2b20;

    & span.critical {
      text-transform: uppercase;
      color: #f86;
      font-weight: bold;
    }

    & h4.title {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      font-weight: bold;
      text-align: center;
      color: #afacc1;
      background-color: #3b3249;
      font-variant: small-caps;
      box-shadow: none;

      img {
        vertical-align: -15%;
        margin-right: 1em;
      }
    }


    & button {
      font-variant: small-caps;
      font-weight: normal;
    }
  

    .field.search {
        color: #3b3249;
        border: 1px solid #efdba8;
        padding-left: 3px;
        padding-right: 3px;
        background-image: url("/gfx/design/form_field.jpg");
        background-position: 0px -8px;
        background-color: #aa9961;
        outline: 1px solid #5c2b20;
        
    }
}*/

#user-list-wrapper {
  #user-list {
    margin: 1rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-height: 12rem;
    overflow: auto;

    .user-list-entry {
      flex-basis: 120px;
      margin-bottom: 4px;
      margin-right: 4px;

      button {
        text-overflow: ellipsis;
        cursor: pointer;
        font-size: .8em;
        font-variant: unset;
        text-transform: none;

      }
    }
  }

  p {
    padding: 0 1rem;

    input#user-search {
      width: 10rem;
      display: inline;
    }
  }
}