{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    <div class="row soul">
        <div class="cell padded header rw-12">
            {% embed "ajax/admin/users/tabs.html.twig" %}{% endembed %}
            <div class="row">
                <div class="cell padded rw-3 rw-sm-12">
                    {{ 'Derzeitiges Leben'|trans({}, 'admin') }}
                </div>
                <div class="cell padded rw-5 rw-sm-12">
                    <input disabled style="width: 25em;" value="{% if active %}{{ town.name }}{% if not alive %}{{ " -- " }}{{ 'TOD NICHT BESTÄTIGT'|trans({}, 'admin') }}{% endif %}{% else %}{{ "--" }}{% endif %}" />
                </div>
                {% if is_granted("ROLE_ADMIN") %}
                    {% if active %}
                        {% if alive %}
                        <div class="cell padded ro-3 rw-2 rw-sm-12">
                            <button id="x-headshot">{{ 'Kopfschuss'|trans({}, 'admin') }}</button>
                        </div>
                        {% else %}
                        <div class="cell padded ro-3 rw-2 rw-sm-12">
                            <button id="x-confirm-death">{{ 'Tod bestätigen'|trans({}, 'admin') }}</button>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% embed "ajax/admin/users/footer.html.twig" %}{% endembed %}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% if is_granted("ROLE_ADMIN") %}
            {% if active %}
                {% if alive %}
                document.getElementById('x-headshot').addEventListener('click', function(e) {
                    e.preventDefault();
                    if (confirm('{{ 'Das Leben dieses Bürgers sofort beenden?'|trans({},'admin') }}'))
                        $.ajax.easySend( '{{ path('admin_users_citizen_headshot', { 'id': user.Id }) }}', [],
                            function () {
                                $.ajax.load(null, '{{ path('admin_users_citizen_view', { 'id': user.Id }) }}', true);
                            } )
                });
                {% else %}
                document.getElementById('x-confirm-death').addEventListener('click', function(e) {
                    e.preventDefault();
                    if (confirm('{{ 'Tod dieses Bürgers zwangsweise bestätigen?'|trans({},'admin') }}'))
                        $.ajax.easySend( '{{ path('admin_users_citizen_confirm_death', { 'id': user.Id }) }}', [],
                            function () {
                                $.ajax.load(null, '{{ path('admin_users_citizen_view', { 'id': user.Id }) }}', true);
                            } )
                });
                {% endif %}
            {% endif %}
        {% endif %}
    </script>
{% endblock %}