{{ constant('App\\Controller\\MessageController::ErrorForumNotFound') }}  : '{{'Das gewählte Forum existiert nicht oder dir fehlt die Zugangsberechtigung dafür.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\MessageController::ErrorPostTextLength') }} : '{{'Dein Text muss mindestens 2 Zeichen lang sein.'|trans({},'global')|e('js')}}',
{{ constant('App\\Controller\\MessageController::ErrorPostTitleLength') }}: '{{'Dein Titel muss zwischen 3 und 64 Zeichen lang sein.'|trans({},'global')|e('js')}}',